<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
        <div class="features_items">
          <h2 class="title text-center">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            <%= t "dashboard" %>
          </h2>
        </div>
    </div>
  </div>
</header>
