<% provide :title, t("new_product") %>
<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="add-to-cart-button"><%= t "product" %></div>
    <div class="panel-body">
      <%= render "form", product: @product, new_product: @new_product %>
    </div>
  </div>
</div>
