$wild-sand: #f4f4f4;
$c8: #888;
$ddd: #ddd;
$a6: #666;
$danube: #5a88ca;
$white: #fff;
$black: #000;
$dove-gray: #6e6a6a;
$ala: #fbfbfb;
$dusty: #999;
$mine-shaft: #222;
$school-yellow: #ffd800;
$cara: #f0f0e9;
$iron: #696763;
$desert: #f7f7f5;
$salmon: #fa8072;
$fountain-blue: #4abebd;
$westar: #e6e4df;
$spring-wood: #f7f7f0;
$west-side: #fe980f;
$dune: #363432;
$mine-shaft: #333;
$red: #f00;
$bbb: #bbb;
$seashell: #f1f1f1;
$eee: #eee;
$tree-poppy: #ff9f1a;
$indochine: #b36800;
$green: rgb(0, 255, 0);
$red: rgb(255, 0, 0);
$lighter-gray: rgba(0, 0, 0, 0);
$unread: #e6ecec;
$unread-hover: #cee3e3;
$gray-color: rgb(128, 128, 128);
$peppermint: #dff0d8;
$beryl-green: #d6e9c6;
$killarney: #3c763d;
$white: #fff;
$list-color: rgba(151, 151, 151, .8)
